<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon slot="start" name="arrow-round-back"></ion-icon>
                <ion-label>Regresar</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <div *ngIf="verImagen"><img [src]="img" /></div>
        <ion-card-header>
            <ion-card-title>{{titulo}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
           {{descripcion}}
        </ion-card-content>
    </ion-card>



</ion-content>