<ion-tabs>
    <ion-tab-bar slot="bottom" color="danger">
        <ion-tab-button tab="citas" (click)="serviceGeneralService.actualizarValor()">
            <ion-icon name="list-box"></ion-icon>
            <ion-label>Tu emarazo</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="calendario" (click)="serviceGeneralService.actualizarValor()">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Controles</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="alarmas" (click)="serviceGeneralService.actualizarValor()">
            <ion-icon name="warning"></ion-icon>
            <ion-label>Informate</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="informate" (click)="serviceGeneralService.actualizarValor()">
            <ion-icon name="contact"></ion-icon>
            <ion-label>Perfil</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>