<ion-content>
    <form [formGroup]="myForm" (ngSubmit)="save()">
        <ion-list color="tertiary">
            <ion-list-header class="title bar">
                Averigua la posible fecha de parto
            </ion-list-header>
            <ion-item>
                <ion-icon name="calendar" item-start></ion-icon>
                <ion-label> ultima mestruación</ion-label>
                <ion-datetime placeholder="Nacimiento" display-format="YYYY MMMM DD" cancelText="Cancelar!!!" formControlName="fecha" (ionChange)="calcularFechaParto( $event )">
                </ion-datetime>
            </ion-item>
            <ion-item class="bar">
                <ion-label class="title">Fecha de parto</ion-label>
            </ion-item>

            <ion-item class="bar">
                <ion-label>{{fechaParto}}</ion-label>
            </ion-item>

            <ion-item class="bar">
                <ion-label class="title">Edad gestacional</ion-label>
            </ion-item>

            <ion-item class="bar">
                <ion-label>{{numeroSemanas}} semanas {{numeroDias}} días</ion-label>
            </ion-item>



            <ion-button class="propertiesButton" shape="round" expand="full" color="primary" expand="full" type="submit" [disabled]="myForm.invalid">
                Guardar
            </ion-button>


        </ion-list>




    </form>


</ion-content>