<app-header titulo="Bienvenidad"></app-header>

<ion-content>
    <form [formGroup]="myForm" (ngSubmit)="save()">
        <ion-list>
            <ion-list-header class="title bar">
                Averigua la posible fecha de parto
            </ion-list-header>

            <ion-item>
                <ion-label>día de ultima mestruación</ion-label>
                <ion-datetime placeholder="Nacimiento" display-format="YYYY MMMM DD" cancelText="Cancelar!!!" formControlName="fecha" (ionChange)="calcularFechaParto( $event )">
                </ion-datetime>
            </ion-item>
            <ion-item class="bar">
                <ion-label class="title">Fecha de parto</ion-label>
            </ion-item>

            <ion-item class="bar">
                <ion-label>{{fechaParto}}</ion-label>
            </ion-item>

            <ion-item class="bar">
                <ion-label class="title">Edad gestacional</ion-label>
            </ion-item>

            <ion-item class="bar">
                <ion-label>{{numeroSemanas}} semanas {{numeroDias}} días</ion-label>
            </ion-item>



            <ion-button expand="full" type="submit" [disabled]="myForm.invalid">
                Enviar
            </ion-button>
        </ion-list>




    </form>


</ion-content>