<app-header titulo="Tu calendario"></app-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Semanas</ion-label>
            <ion-select value="brown" okText="Aceptar" cancelText="Cancelar">
                <ion-select-option *ngFor="let semana of serviceGeneralService.slides" [value]="semana.id">{{semana.titulo}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-list-header class="title bar">
            <h3>Citas</h3>
        </ion-list-header>
        <ion-item>
            <ion-label>Pokémon Yellow</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Mega Man X</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>The Legend of Zelda</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Pac-Man</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Super Mario World</ion-label>
        </ion-item>
    </ion-list>
</ion-content>