.bar {
    text-align: center;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.propertiesButton {
    width: 50%;
    margin: 20% 0 0 25%;
}

.datetime-checked {
    color: var( --ion-color-danger) !important;
}

.picker-opt.picker-opt-selected,
.picker-prefix,
.picker-suffix {
    color: red;
}

.backdrop-no-scroll .picker-wrapper .picker-columns .picker-opt-selected {
    color: red;
}