<app-header titulo="Tu citas"></app-header>
<ion-content>

    <ion-slides pager="false" [options]="slideOpts" #testSlider (ionSlideDidChange)="getIndex()" style="height: 80%;">
        <ion-slide *ngFor="let slide of slides">
            <ion-card class="properties-card">
                <ion-card-header>
                    <ion-card-title> {{ slide.titulo }} </ion-card-title>
                </ion-card-header>
                <img [src]="slide.img">
                <ion-card-content>
                    {{ slide.desc }}
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>

    <ion-segment (ionChange)="segmentChanged($event)" color="danger" mode="ios">

        <ion-segment-button value="E" checked>
            <ion-label>Tener en <br>cuenta</ion-label>
            <ion-icon name="heart"></ion-icon>
        </ion-segment-button>

        <ion-segment-button value="C">
            <ion-label>Cambio <br>en ti</ion-label>
            <ion-icon name="heart"></ion-icon>
        </ion-segment-button>

        <ion-segment-button value="A">
            <ion-label>Cambios <br>en tu bebé</ion-label>
            <ion-icon name="heart"></ion-icon>
        </ion-segment-button>

    </ion-segment>
    <ion-list class="animated fadeIn fast" *ngIf="mostrarExamenes">
        <ion-item *ngFor="let item of tenerCuenta">
            <ion-label>
                <h3>{{item.titulo}}</h3>
                <p>{{item.descripcion}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <!-- List of Input Items -->
    <ion-list class="animated fadeIn fast" *ngIf="mostrarCuidados">
        <ion-item *ngFor="let item of cambioEnTi">
            <ion-label>
                <h3>{{item.titulo}}</h3>
                <p>{{item.descripcion}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="mostrarAlimentacion">
        <ion-item *ngFor="let item of cambiosBebe">
            <ion-label>
                <h3>{{item.titulo}}</h3>
                <p>{{item.descripcion}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>