.properties-card {
    width: 90%;
}

.number-month {
    font-size: 170px;
    text-align: center;
    font-family: 'Concert One', cursive;
    color: rgb(209, 156, 199);
}

.title-mounth {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}