<app-header titulo="Tu citas"></app-header>
<ion-content view-cached="false">

    <!-- <ion-slides pager="false" [options]="slideOpts" #testSlider (ionSlideDidChange)="getIndex()" style="height: 80%;">
        <ion-slide *ngFor="let slide of slides">-->
    <ion-card >
        <ion-card-header>
            <ion-card-title> {{ serviceGeneralService.tituloActual }} </ion-card-title>
        </ion-card-header>
        <img [src]="serviceGeneralService.imagenActual">
        <ion-card-content>
            {{ serviceGeneralService.descripcionActual }}
        </ion-card-content>
    </ion-card>
    <!--  </ion-slide>
    </ion-slides>-->

    <ion-segment (ionChange)="serviceGeneralService.segmentChanged($event)" color="danger" mode="ios">

        <ion-segment-button value="T" checked>
            <ion-label>Tener en <br>cuenta</ion-label>
        </ion-segment-button>

        <ion-segment-button value="M">
            <ion-label>Cambio <br>en ti</ion-label>
        </ion-segment-button>

        <ion-segment-button value="B">
            <ion-label>Cambios <br>en tu bebé</ion-label>
        </ion-segment-button>

    </ion-segment>

    <ion-card *ngIf="serviceGeneralService.mostrartenerCuenta">
        <ion-card-header>
            <ion-card-title>{{serviceGeneralService.titulo1}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{serviceGeneralService.descripcion1}}
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="serviceGeneralService.mostrarCambioTu">
        <ion-card-header>
            <ion-card-title>{{serviceGeneralService.titulo2}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{serviceGeneralService.descripcion2}}
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="serviceGeneralService.mostrarCabiosBebe">
        <ion-card-header>
            <ion-card-title>{{serviceGeneralService.titulo3}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{serviceGeneralService.descripcion3}}
        </ion-card-content>
    </ion-card>
</ion-content>