<app-header titulo="Tu embarazo"></app-header>
<ion-content view-cached="false">

    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <h1 class="title-mounth"> Esta en la semana</h1>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col>
                    <h1 class="number-month">{{serviceGeneralService.imagenActual}}</h1>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>{{ serviceGeneralService.descripcionActual }}</ion-label>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>


    <ion-segment (ionChange)="serviceGeneralService.segmentChanged($event)" color="danger" mode="ios">

        <ion-segment-button value="T" checked>
            <ion-label>Tener en <br>cuenta</ion-label>
        </ion-segment-button>

        <ion-segment-button value="M">
            <ion-label>Cambio <br>en ti</ion-label>
        </ion-segment-button>

        <ion-segment-button value="B">
            <ion-label>Cambios <br>en tu bebé</ion-label>
        </ion-segment-button>

    </ion-segment>

    <ion-card *ngIf="serviceGeneralService.mostrartenerCuenta">
        <ion-card-header>
            <ion-card-title>{{serviceGeneralService.titulo1}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{serviceGeneralService.descripcion1}}
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="serviceGeneralService.mostrarCambioTu">
        <ion-card-header>
            <ion-card-title>{{serviceGeneralService.titulo2}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{serviceGeneralService.descripcion2}}
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="serviceGeneralService.mostrarCabiosBebe">
        <ion-card-header>
            <ion-card-title>{{serviceGeneralService.titulo3}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{serviceGeneralService.descripcion3}}
        </ion-card-content>
    </ion-card>
</ion-content>